<!-- SET TITLE -->
<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'page_header_for_category', page_title: @taxon.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'shared/category_panel', taxonomies: @taxonomies %>
          <%= render 'shared/color_panel' %>
          <%= render 'shared/size_panel' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <%= render 'shared/slector_of_filter' %>
            <%= render 'shared/slector_of_display_format' %>
          </div>
          <div id="productBox" class="row">
            <%= render partial: 'shared/product_box', collection: @products, as: :product %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LOGO SLIDER SECTION -->
  <%= render 'shared/partners_logo_slider' %>
</div>
