<!-- SET TITLE -->
<% provide(:title,  @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'shared/page_header', active_content: @product.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.images.each_with_index do |image, i|%>
                    <div class="item<%= " active" if i.zero? %>" data-thumb=<%=i%>>
                      <%= image_tag(image.attachment(:large)) %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% @product.images.each_with_index do |image, i|%>
                      <div data-target="#carousel" data-slide-to=<%=i%> class="thumb">
                        <%= image_tag(image.attachment(:small)) %>
                      </div>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <% if @product.taxons.present? %>
                    <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                    <% end %>
                  <% end %>
                </li>
              </ul>
              <h2><%= @product.name %></h2>
              <h3><%= @product.display_price %></h3>
              <p><%= @product.description %></p>
              <span class="quick-drop">
                <%= render 'shared/size_dropdown_list' %>
              </span>
              <span class="quick-drop resizeWidth">
                <%= render 'shared/stock_dropdown_list' %>
              </span>
              <div class="btn-area">
                <%= link_to potepan_cart_page_path, class: "btn btn-primary btn-block" do %>
                  カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- RELATED PRODUCTS -->
      <% if @related_products.present? %>
        <%= render 'shared/related_products', related_products: @related_products %>
      <% end %>
    </div>
  </section>
</div>
