<div id='product-category' class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy<%= taxonomy.id %>">
              <%= taxonomy.name %><i class="fa fa-plus"></i>
            </a>
            <ul id="taxonomy<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.descendants.each do |sub_taxon| %>
                <% unless sub_taxon.products.length == 0 %>
                  <li>
                    <%= link_to potepan_category_path(sub_taxon.id), id: :"taxon#{sub_taxon.id}" do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= sub_taxon.name %> <span><%= "(#{sub_taxon.products.length})" %></span>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
